@charset "utf-8";
@font-face{
    font-family: scriptina;
    src: url(../fonts/SCRIPTIN.ttf);
}
@font-face{
    font-family: montserrat;
    src: url(../fonts/Montserrat400.woff2);
    font-weight: 400;
}
@font-face{
    font-family: montserrat;
    src: url(../fonts/Montserrat700.woff2);
    font-weight: 700;
}
@font-face{
    font-family: Source Sans Pro;
    src: url(../fonts/SourceSansPro-Regular.otf);
}
@font-face{
    font-family: Source Sans Pro;
    src: url(../fonts/SourceSansPro-It.otf);
    font-style: italic;
}
@font-face{
    font-family: Source Sans Pro;
    src: url(../fonts/source_lt.woff2);
    font-weight: 300;
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/lobster.woff2) format('woff2');
}
body{
    font-family: montserrat;
}
.bd_clear{
    clear: both;
}
.header_wrap{
    box-shadow: 0 5px 5px -5px #333;
    position: relative;
    z-index: 9999;
}
.header{
    padding: 8px 15px;
    position: relative;
}
a.logo{
    float: left;
    display: block;
}
.logo img{
    max-width: 100%;
}
.nav_wrap{
    float: right;
    margin-top: 35px;
}
ul.navigation{
    float: left;
    padding: 0px;
    margin: 13px 0px 0px 0px;
}
ul.navigation > li{
    float: left;
    list-style: none;
}
ul.navigation > li > a{
    display: inline-block;
    color: #535353;
    padding: 5px 15px;
    font-weight: bold;
    text-transform: uppercase;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul.navigation > li > a.active{
    color: #6aab43;
}
ul.navigation > li > a:active,
ul.navigation > li > a:focus{
    text-decoration: none;
    outline: none;
    color: #535353;
}
ul.navigation > li > a:hover{
    color: #6aab43;
    text-decoration: none;
}
a.book_lnk{
    display: block;
    float: right;
    background-color: #6cad3e;
    color: #FFF;
    font-weight: bold;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 8px 15px;
    border-radius: 5px;
    text-transform: uppercase;
}
a.book_lnk:active,
a.book_lnk:focus{
    color: #fff;
    text-decoration: none;
    outline: none;
}
a.book_lnk:hover{
    background-color: #368200;
    color: #FFF;
    text-decoration: none;    
}
a.book_lnk img{
    margin-right: 10px;
}
.banner_wrap{
    width: 100%;
    height: 590px;
    position: relative;
}
.banner_box{
    width: 100%;
    height: 590px;
}
.banner_box1{
    background: url(../images/banner1.jpg) no-repeat center;
    background-size: cover;
}
.banner_box2{
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
}
.banner_box3{
    background: url(../images/banner3.jpg) no-repeat center;
    background-size: cover;
}
.cap_wrap{
    text-align: center;
}
.cap_block{
    display: inline-block;
    text-align: center;
    color: #FFF;
    max-width: 500px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 100px;
}
.cap_block h3{
    font-family: scriptina;
    font-size: 50px;
    margin: 0px 0px 40px 0px;
}
.cap_block p{
    margin: 0px;
}
.banner_pager{
    position: absolute;
    width: 100%;
    z-index: 999;
    text-align: center;
    bottom: 100px;
    left: 0px;
}
.banner_pager a{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid transparent;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.banner_pager a.active{
    border-color: #FFF;
}
.banner_pager a:active,
.banner_pager a:focus{
    text-decoration: none;
    outline: none;
}
.banner_pager a:hover{
    border-color: #FFF;
}
.banner_pager a span{
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #FFF;
    margin-top: 7px;
}
.high_hd{
    text-align: center;
    margin-top: 60px;
}
.high_hd h3{
    display: inline-block;
    color: #539e26;
    font-size: 28px;
    margin: 0px 15px 0px 0px;
    text-transform: uppercase;    
}
.high_hd img{
    display: inline-block;
}
.high_hd_ul{
    max-width: 215px;
    margin: 15px auto;
    background-image: url(../images/high_ul.png);
    background-position: center;
    background-repeat: repeat-x;
    text-align: center;
}
.high_hd_ul span.high_hd_ul_inner{
    display: inline-block;
    padding: 5px 15px 0px 15px;
    background-color: #FFF;
}
.high_hd_ul span.high_ul{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #539e26;
    border-radius: 50%;
}
.high_list_bg{
    background-image: url(../images/high_bgf.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 440px;
}
h3.high_capt{
    text-transform: uppercase;
    font-size: 18px;
    color: #449016;
}
.high_capt_top{
    text-align: center;
    margin: 0px;
}
.high_capt_bleft{
    text-align: center;    
}
.high_capt_bleft span{
    display: inline-block;
    text-align: right;
    padding-left: 110px;
}
.high_capt_bright{
    text-align: center;
}
.high_capt_bright span{
    text-align: left;
    display: inline-block;
    padding-right: 85px;
}
.high_cap_rowb{
    margin-top: 73px;
}
.high_capt_cleft{
    text-align: left;
}
.high_capt_cleft span{
    display: inline-block;
    text-align: right;
    padding-left: 110px;
}
.high_capt_cright{
    text-align: right;
}
.high_capt_cright span{
    display: inline-block;
    text-align: left;
    padding-right: 153px;
}
.high_cap_rowc{
    margin-top: 20px;
}


.welcome_wrap{
    height: 552px;
    background: url(../images/welcome_image.png) left;
    background-size: cover;
    padding-top: 50px;
}
.welcome_text h3{
    font-family: scriptina;
    font-size: 76px;
    color: #3b9504;
    text-align: center;
}
.welcome_img{
    text-align: center; 
}
.welcome_text p{
    color: #296302;
    margin-top: 30px;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
}
.welcome_lnk{
    text-align: right;
}
.welcome_lnk span{
    display: inline-block;
    width: 50%;
    height: 5px;
    background: url(../images/more_link.png) right no-repeat;  
    vertical-align: middle;
}
.welcome_lnk a{
    display: inline-block;
    color: #3a6d19;
    text-transform: uppercase;
    padding-left: 15px;
}
.testimonial_wrap{
    padding: 40px 0px;
}
h3.testimonial_head{
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
.testimonial_head_brdr{
    max-width: 290px;
    background: url(../images/testi_brdr.png) center repeat-x;  
    margin: 0 auto;
    text-align: center;
}
.testimonial_head_brdr span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #6cae3d;
}
.teti_quote_ico{
    text-align: center;
    margin-top: 25px;
}
.teti_quote_ico i{
    font-size: 60px;
    color: #ea8600;
}
ul.testimonial > li{
    text-align: center;
}
ul.testimonial > li p.testimonial_text{
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: italic;
    color: #6b6b6b;
    padding: 0px 80px;
    max-width: 860px;
    margin: 0 auto;    
}
ul.testimonial > li h3{
    text-transform: uppercase;
    font-size: 22px;
}
ul.testimonial > li p.designation{
    color: #6b6b6b;
}
.testimonial_wrap .bx-prev{
    background: url(../images/testimonial_prev.png) no-repeat;
    width: 46px !important;
    height: 46px !important;
    margin-top: -23px;
}
.testimonial_wrap .bx-prev:hover{
    background: url(../images/testimonial_prev.png) no-repeat;    
}
.testimonial_wrap .bx-next{
    background: url(../images/testimonial_next.png) no-repeat;
    width: 46px !important;
    height: 46px !important;
    margin-top: -23px;
}

.testimonial_wrap .bx-next:hover{
    background: url(../images/testimonial_next.png) no-repeat;    
}
.testimonial_wrap .bx-wrapper .bx-controls-direction a{
    top: 22%;
}
.footer{
    background-color: #15351a;
    padding: 40px 0px 0px 0px;
    color: #FFF;
}
.footer_soc{
    text-align: right;
    padding-top: 48px;
}
.footer_soc a{
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #15351a;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    line-height: 28px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.footer_soc a:hover{
    background-color: rgba(255, 255, 255, 1);
}
.footer_soc a:active,
.footer_soc a:focus{
    text-decoration: none;
    outline: none;
}
.footer_logo{
    text-align: center;
}
.footer_logo a{
    display: inline-block;
}
.footer_logo a img{
    max-width: 100%;
}
.footer_book{
    padding-top: 35px;
}
.footer_book a{
    display: inline-block;
    color: #FFF;
    background-color: #6cad3e;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.footer_book a img{
    margin-right: 10px;
}
.footer_book a:active,
.footer_book a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
.footer_book a:hover{
    background-color: #429308;
    text-decoration: none;
}
.copy_wrap{
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    padding: 8px 0px;
    margin-top: 40px;
}
.copy{
    float: left;
    color: #FFF;
}
.power{
    float: right;
    color: #FFF;
}
ul.res_nav{
    margin: 0px;
    padding: 0px;
    display: none;
}
ul.res_nav > li{
    list-style: none;
}
ul.res_nav > li > a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #449016;
    color: #FFF;
    padding: 5px 15px;
    border-bottom: 1px solid #2d7800;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
ul.res_nav > li > a:active,
ul.res_nav > li > a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
ul.res_nav > li > a:hover{
    color: #FFF;
    background-color: #2d7800;
    text-decoration: none;
}
.nav_trigger{
    display: none;
    position: absolute;
    right: 15px;
    top: 48px;
    border: 1px solid #6cad3e;
    border-radius: 5px;
    text-align: center;
    width: 40px;
    height: 35px;
    font-size: 24px;
    line-height: 35px;
    color: #6cad3e;
    cursor: pointer;
}
.res_high_light{
    display: none;
}
.res_high_block{
    text-align: center;
    margin: 25px 0px;
}
.res_high_block h3{
    text-transform: uppercase;
    font-size: 19px;
    color: #539e26;
    margin: 10px 0px 0px 0px;
}
.welcome_res_img img{
    max-width: 100%;
    display: none;
}
.about_feat_wrap{
    height: 500px;
    /*min-height: 100vh;*/
    background: url(../images/about_bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.about_feat{
    position: absolute;
    z-index: 99;
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.82);
    color: #FFF;
    font-family: Source Sans Pro;
}
.feat_block h3{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
}
.feat_block p{
    margin-top: 30px;
    text-align: justify;
    padding: 0px 15px;
    font-weight: 300;
    font-size: 17px;
}
h3.vision_head{
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
.vision_head_brdr{
    max-width: 175px;
    background: url(../images/testi_brdr.png) center repeat-x;
    margin: 0 auto;
    text-align: center;
}
.vision_head_brdr span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #6cae3d;
}
.vision_wrap{
    padding: 60px 0px;
    background-color: #e2e2e2;
}
.vision_wrap p{
    text-align: justify;
}
.gallery_wrap{
    padding-top: 40px;
    background-color: #464E54;
}
h3.gallery_head{
    color: #FFF;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}
.gal_inner{
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px #4c4c4c;
}
.gal_controls{
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 50%;
    margin-top: -15px;
    z-index: 999;
}
.gal_controls span a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #539e26;
    color: #FFF;
    line-height: 30px;
    font-size: 21px;
    text-align: center;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.gal_controls span a:active,
.gal_controls span a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
.gal_controls span a:hover{
    background-color: #387f0d;
}
.gal_controls span{
    position: absolute;
}
.gal_controls span#gal_prev{
    left: 0px;
    margin-left: -15px;
}
.gal_controls span#gal_next{
    right: 0px;
    margin-right: -15px;
}
.gal_pop{
    background-color: #EAEAEA;
    padding: 70px 0px;
}
a.pop_up{
    display: block;
    width: 25%;
    float: left;
    padding: 3px;
}
.pop_up_inner{
    padding: 10px;
    background-color: #FFF;
    border-radius: 2px;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
}
.pop{
    position: relative;
    overflow: hidden;
}
.pop img{
    max-width: 100%;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.pop_overlay{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: rgba(0, 0, 0, 0.7) url(../images/zoom.png) no-repeat center;
}
a.pop_up:hover .pop_overlay{
    opacity: 1;
}
a.pop_up:hover .pop img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.serv_head h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
}
.serv_head p{
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
    padding: 0px 80px;
}
.serv_col{
    text-align: center;
    margin-bottom: 40px;
}
.serv_col h3{
    text-transform: uppercase;
    font-size: 21px;
}
.serv_col p{
    color: #4d4d4d;
}
.service_wrap{
    padding: 50px 0px;
    background-color: #EAEAEA;
}
@media only screen and (min-width: 768px){
    .service_wrap .row:last-child .serv_col{
        margin-bottom: 0px;
    }    
}
.contact_wrap{
    width: 100%;
    background: url(../images/contact_bg.jpg);
    background-attachment: fixed;
    font-family: Source Sans Pro;
}
.contact_inner{
    width: 100%;
    padding: 50px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}
.contact_head{
    padding: 15px;
    border: 1px solid #FFF;
    margin-bottom: 15px;
}
.contact_head h3{
    text-transform: uppercase;
    font-size: 36px;
    margin: 0px 0px 8px 0px;
    font-weight: 300;
}
.contact_head p{
    margin: 0px;
    font-size: 20px;
    font-weight: 300;
}
.form_block{
    margin-bottom: 15px;
    position: relative;
}
.form_block input[type="text"],
.form_block input[type="email"]{
    height: 45px;
}
.form_block input[type="text"],
.form_block input[type="email"],
.form_block textarea{
    background-color: transparent;
    display: block;
    width: 100%;
    border: 1px solid #FFF;
    padding-left: 45px;
    padding-right: 10px;
}
.form_block textarea{
    min-height: 164px;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    resize: none;
    padding-top: 10px;
}
.form_block span{
    position: absolute;
    z-index: 99;
    color: #FFF;
    font-size: 21px;
    height: 45px;
    line-height: 45px;
    width: 45px;
    text-align: center;
    left: 0px;
    top: 0px;
}
.form_block input[type="submit"]{
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: #FFF;
    color: #333;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #FFF;
    border-radius: 3px;
    padding: 8px 15px;
}
.form_block input[type="submit"]:hover{
    border-color: #FFF;
    background-color: transparent;
    color: #FFF;
}
.address{
    border: 1px solid #FFF;
    padding: 15px;
}
.address_inner{
    display: inline-block;
    width: 100%;
}
.address_ico{
    text-align: center;
    margin-bottom: 15px;
}
.address_ico i{
    font-size: 48px;
}
.address_inner p{
    font-weight: 300;
    font-size: 21px;
    text-align: center;
}
.contact_block{
    text-align: center;
}
.contact_block span{
    display: inline-block;
    font-size: 21px;
    margin-right: 7px;
}
.contact_block a{
    font-size: 16px;
    color: #FFF;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: Source Sans Pro;
}
.contact_block a:active,
.contact_block a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
.contact_block a:hover{
    color: #c8c8c8;
    text-decoration: none;
}
@media only screen and (min-width: 768px){
    .address{
        min-height: 288px;
    }
}
.book_modal{
    z-index: 99999;
}
.book_block{
    margin-bottom: 15px;
}






















@media only screen and (min-width: 1199px){
    .feat_block{
        padding-top: 100px;
    }
}
@media only screen and (min-width: 768px){
    .about_feat_wrap{
        height: 500px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .high_capt_bleft span{
        padding-left: 0px;
    }
    .high_capt_bright span{
        padding-right: 0px;
    }
    .high_capt_cleft span{
        padding-left: 10px;
    }
    .high_capt_cright span{
        padding-right: 50px;
    }
    ul.navigation > li > a{
        padding: 5px 10px;
    }
    a.logo{
        width: 200px;
    }
    .nav_wrap{
        margin-top: 25px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    h3.high_capt{
        font-size: 16px;
    }
    .high_list_bg{
        min-height: 315px;
        background-size: 60%;
    }
    .high_cap_rowb {
        margin-top: 42px;
    }
    .high_cap_rowc {
        margin-top: 0px;
    }
    .high_capt_bleft span{
        padding-left: 17px;
    }
    .high_capt_bright span{
        padding-right: 0px;
    }
    .high_capt_cleft span{
        padding-left: 10px;
    }
    .high_capt_cright span{
        padding-right: 50px;
    }
    a.logo{
        float: none;
        width: 254px;
        margin: 0 auto;
    }
    .nav_wrap{
        float: none;
        margin-top: 15px;
    }
    ul.navigation > li > a{
        padding: 5px 10px;
    }
}
@media only screen and (max-width: 767px){
    ul.navigation{
        display: none;
    }
    .nav_trigger{
        display: inline-block;
    }
    a.book_lnk{
        display: none;
    }
    .heighlight{
        display: none;
    }
    .res_high_light{
        display: block;
    }
    .welcome_wrap{
        background: none;
        height: auto;
    }
    .welcome_res_img{
        padding: 0px !important;
        margin: 0px -15px !important;
    }
    .welcome_res_img img{
        display: block;
    }
    .welcome_text{
        margin: 0px -15px !important;
        background: url(../images/wel_res_bg.jpg) no-repeat center;
        background-size: cover;
        padding: 30px 15px;
    }
    .footer_soc{
        text-align: center;
        margin-bottom: 25px;
        padding-top: 0px;
    }
    .footer_book{
        text-align: center;
        padding-top: 0px;
        margin-top: 25px;
    }
    .about_feat{
        width: 100%;
        position: relative;
        padding: 50px 15px;
    }
    .about_feat_wrap{
        height: auto;
    }
    a.pop_up{
        width: 50%;
    }
}
@media only screen and (max-width: 550px){
    a.logo{
        float: none;
    }
    .nav_wrap{
        float: none;
        margin-top: 15px;
        text-align: center;
    }
    .copy{
        float: none;
        text-align: center;
    }
    .power{
        float: none;
        text-align: center;
        margin-top: 15px;
    }
}
@media only screen and (min-width: 992px){
    .welcome_wrap{
        position: relative;
        margin-top: -95px;
    }
    .high_list_bg{
        position: relative;
        z-index: 999;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .welcome_wrap{
        position: relative;
        margin-top: -65px;
    }
    .high_list_bg{
        position: relative;
        z-index: 999;
    }
}
@media only screen and (max-width: 320px){    
    a.pop_up{
        width: 100%;
        float: none;
    }
}

























